.container {
  padding: 0 5vh;
  width: 100%;
  height: 92vh;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container img {
  max-width: 30vh;
  max-height: 30vh;
  border-radius: 50%;
  padding: 1vh;
  background-color: var(--green);
}

.container h1 {
  padding: 0.5rem;
  font-size: 3rem;
}

.container h2 {
  padding-bottom: 1rem;
}

.container p {
  padding: 0 15vh;
  margin-bottom: 20px;
}

.container .icons a {
  text-decoration: none;
  color: var(--green);
}

.icons {
  padding: 1.5rem;
}

.icons a {
  padding: 1vh;
}

.container .icons a:hover {
  color: var(--darkgreen);
  transition: 0.2s;
}

.container .cv {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  background-color: var(--green);
  border-width: 0;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .cv:hover {
  background-color: var(--darkgreen);
  transition: 0.2s;
}

@media (max-width: 1080px) {
  .container {
    padding: 0;
    height: 142vh;
  }

  .container img {
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
  }

  .container p {
    padding: 0 10vh;
  }
}
