.container {
  padding: 0 5vh;
  width: 100%;
  height: 92vh;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container h1 {
  padding: 1rem 0;
}

.container p,
.container h5 {
  padding-bottom: 1rem;
}

@media (max-width: 1080px) {
  .container {
    padding: 6vh;
    height: 122vh;
  }
}
