.container {
  padding: 0 5vh;
  width: 100%;
  height: 92vh;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container h1 {
  padding: 1rem 0;
  font-size: 2rem;
}

.container h2 {
  font-size: 1.5rem;
}

.container h3 {
  font-size: 1rem;
  font-weight: normal;
}

.container h4 {
  font-size: 0.6rem;
  font-weight: normal;
}

.container p {
  font-size: 1rem;
}

.container p,
.container h5 {
  padding-bottom: 0.5rem;
}

.container .formation {
  margin-bottom: 1rem;
}

.container .formation h4 {
  margin-bottom: 0.5rem;
}

.container .experience p {
  margin-bottom: 0.5rem;
}

@media (max-width: 1080px) {
  .container {
    padding: 6vh;
    height: 102vh;
  }

  .container h1 {
    font-size: 1.5rem;
  }

  .container h2 {
    font-size: 1rem;
  }

  .container h5 {
    font-size: 0.6rem;
  }

  .container p {
    font-size: 0.7rem;
  }
}
