.container {
  padding: 0 5vh;
  width: 100%;
  height: 8vh;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container p {
  font-size: 0.5rem;
}

@media (max-width: 1080px) {
  .container {
    padding: 0;
  }
}
