@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

:root {
  --grey: #b0b2b0;
  --white: #ffffff;
  --green: #00642a;
  --light-brown: #cc9251;
  --dark-brown: #b26829;
}
