@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

:root {
  --primary: #eeede7;
  --secundary: #868b8e;
  --green: #81b622;
  --darkgreen: #59981a;
}
