@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

h1 {
  font-family: "Concert One", sans-serif;
}

:root {
  --primary: #eeede7;
  --secundary: #868b8e;
  --green: #81b622;
  --darkgreen: #59981a;
}
