.container {
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 30vh;
  background-color: var(--green);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 1.2rem;
  display: none;
  background-color: var(--green);
}

.nav-menu ul {
  list-style: none;
}

.nav-menu a {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  transition: 0.2s;
  cursor: pointer;
  text-decoration: none;
}

.nav-menu a:hover {
  color: white;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
}

@media (max-width: 960px) {
  .container {
    display: block;
    height: 10vh;
    width: 100vh;
  }

  .button {
    display: flex;
    border: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 30vh;
    position: absolute;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: var(--green);
    top: 4.4rem;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-menu ul {
    text-align: center;
    padding: 2rem;
    display: table;
  }
}

@media (max-width: 600px) {
  .button {
    padding: 1rem;
  }

  .nav-menu a {
    font-size: 1rem;
  }

  .nav-menu.active {
    top: 4rem;
  }
}
