.container {
  width: 100%;
  padding: 2vh 0;
  position: fixed;
}

.container .mainButton {
  position: absolute;
  right: 0;
  top: 0;
  margin: 2vh 5vw;
}

.container .navbar {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10vh 5vw;
}

.container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3vh;
}

.container li {
  list-style: none;
}

.container a {
  color: var(--green);
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
}

.container a:hover {
  transition: 0.2s;
  filter: brightness(0.8);
}
