.container {
  display: none;
  width: 100vw;
  height: 10vh;
  background-color: var(--primary);
  padding: 3vh 0;
  z-index: 0;
}

.container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5vw;
}

.container li {
  list-style: none;
}

.container a {
  cursor: pointer;
  color: var(--green);
}

.container a:hover {
  color: var(--darkgreen);
  transition: 0.2s;
}

@media (max-width: 1080px) {
  .container {
    display: block;
  }
}
