.container {
  width: 100%;
  height: 90vh;
  background-color: var(--white);
  display: flex;
  justify-content: space-around;
}

.container img {
  max-width: 100vh;
  margin: 5vh;
  padding: 1vh;
  background-color: var(--green);
  border-radius: 10%;
}

.project {
  padding: 10vh 5vh;
}

.projectlinks {
  padding: 5vh 25vh;
  display: flex;
  justify-content: space-between;
}

.projectlinks a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.projectlinks p {
  margin: 0 1rem 0 0.5rem;
}

.projectlinks a:hover {
  color: var(--dark-brown);
  transition: 0.2s;
}

@media (max-width: 1080px) {
  .container {
    padding: 0;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .container img {
    max-width: 40vh;
    margin-top: 1vh;
  }

  .project {
    padding: 0vh 5vh;
  }

  .projectlinks {
    padding: 2rem;
  }
}
