.container {
  width: 100%;
  height: 90vh;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5vh;
}

.container img {
  padding: 1vh;
  background-color: var(--green);
  max-height: 50vh;
  margin: 5vh 0;
  border-radius: 30px;
}

.project {
  padding: 0 40vh;
}

.projectlinks {
  padding: 5vh 25vh;
  display: flex;
  justify-content: space-between;
}

.projectlinks a {
  text-decoration: none;
  color: var(--green);
  display: flex;
  align-items: center;
}

.projectlinks p {
  margin: 0 1rem 0 0.5rem;
}

.projectlinks a:hover {
  color: var(--darkgreen);
  transition: 0.2s;
}

@media (max-width: 1080px) {
  .container {
    padding: 0;
  }

  .container img {
    max-width: 40vh;
  }

  .project {
    padding: 0vh 5vh;
  }

  .projectlinks {
    padding: 2rem;
  }
}
