.aboutContainer {
  padding: 5vh 5vw;
  width: 100%;
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.aboutContainer img {
  max-width: 25vh;
  max-height: 25vh;
  border-radius: 50%;
  padding: 1vh;
  background-color: var(--green);
  margin-left: 5vw;
  text-align: center;
}

.aboutContainer .imageContainer {
  width: 30%;
  margin-top: 5vh;
}

.aboutContainer .textContainer {
  width: 100%;
  margin-top: 5vh;
}

.aboutContainer h1 {
  text-align: center;
  margin-bottom: 20px;
}

.aboutContainer p {
  text-align: center;
  padding: 0 15vh;
  margin-bottom: 20px;
}

.aboutContainer .icons {
  margin: 1vw 3vh;
  text-align: center;
}

.aboutContainer .icons a {
  text-decoration: none;
  color: var(--green);
}

.aboutContainer a {
  padding: 0px 1vh;
}

.aboutContainer .icons a:hover {
  filter: brightness(0.8);
  transition: 0.2s;
}

.skillsContainer {
  padding: 5vh 5vw;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skillsContainer h1 {
  text-align: center;
}

.skills {
  padding: 5vh 0;
  gap: 5vh;
  display: grid;
  grid-template-columns: repeat(6, auto);
}

.skills i {
  padding: 0 2rem;
}

.skillsContainer i:hover {
  color: var(--darkgreen);
  transition: 0.8s;
}

.projectsContainer {
  padding: 5vh 5vw;
  background-color: var(--secundary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project {
  border-color: var(--green);
  border-style: solid;
  border-width: 0.5vh;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
  margin: 0.5rem 0;
  display: flex;
}

.grid {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.projectsContainer a {
  text-decoration: none;
  color: black;
}

.project a:hover {
  color: var(--darkgreen);
  transition: 0.2s;
}

.experienceContainer {
  padding: 3vh 10vw;
  width: 100%;
  background-color: var(--secundary);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experienceContainer h1 {
  padding: 1vh 0;
}

.experienceContainer .block {
  padding: 1.5vh 0;
}

@media (max-width: 1080px) {
  .aboutContainer {
    flex-direction: column;
  }

  .aboutContainer .imageContainer {
    width: 100%;
    margin-top: 0;
  }

  .aboutContainer .textContainer {
    width: 100%;
    margin-top: 0;
  }

  .aboutContainer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .aboutContainer p {
    padding: 0 10vh;
  }

  .skills {
    grid-template-columns: repeat(2, auto);
    gap: 2vh;
  }

  .projectsContainer {
    padding: 5vh;
  }
}
