.container {
  padding: 0 5vh 0 35vh;
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h1 {
  padding: 3rem 0;
}

.skills i {
  padding: 0 2rem;
}

.tools i {
  padding: 0 2rem;
}

.container i:hover {
  color: var(--dark-brown);
  transition: 1s;
}

@media (max-width: 1080px) {
  .container {
    padding: 0 20vh;
  }

  .skills {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2rem;
  }

  .tools {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2rem;
  }
}

@media (max-width: 720px) {
  .container {
    height: 100vh;
  }
}
